body {
  background-color: #FAF1E6;
}
h1{
  color: #7C2716;
}
hr {
  border-style: dotted;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: thick;
  height: 50px;
  width:10%;
 color:#5D534A;

}
.Image{
  background-color: #E4DCDA;
}
